<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Content Builder - Dynamic</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script data-main="js/main.js" src="js/main.js"></script>
    <script data-main="js/blocksdk.js" src="js/blocksdk.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript">
        
        var sdk = new SDK();          
       
    </script>

    <!--Styles-->
    <style type="text/css">
        .step {
            display: none;
        }
        #step1 {
            display: block;
        }
        .loader {
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 8px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .hide{
            display:none;
        }
    </style>

</head>
<body>
<div class="loaderContainer hide" id="dynamicContainer" style="width:100%;height:100%;z-index:9;position: absolute;background-color:gray;opacity: .5;">
    <div id="dynamicLoader" class="loader" style="position:absolute;top:50%;left:45%;z-index:10;"></div>   
</div> 
<form id="dynamicForm" style="padding: 20px;margin: 0;">    
<div id="step1" class="step">
        <p>Description: This block is used to build dynamic content to related data extensions that the normal dynamic content block does not allow.</p>
        <br>
        <p>Select the type of data you want to use for your dynamic content.</p>
        <div class="slds-form slds-form_compound">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="type">Choose</label>
                <div class="slds-form-element__control"> 
                    <div class="slds-select_container">
                    <select class="slds-select" id="type" name="type" required>
                        <option value="">Please select</option>
                        <option value="Summary">Summary</option>
                        <option value="Interest">Interest</option>
                    </select>
                    </div>
                </div>
            </div>

            <br><p>Select the Summary / Question / Interest Id</p>
            <!-- <section class="slds-popover slds-nubbin_left" role="dialog" aria-label="Dialog Title" aria-describedby="dialog-body-id-13">
                <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
                    <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                    </svg>
                    <span class="slds-assistive-text">Close dialog</span>
                </button>
                <div class="slds-popover__body" id="dialog-body-id-13">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </section> -->
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="relevantId">Relevant Id (Ex: If you are using the summary object you would want to put in the questionId. If using the interest object you would use the Id of the Preference Subscription / Interest record you want to check for.)</label>
                <div class="slds-form-element__control">
                    <input type="text" id="relevantId" name="relevantId" class="slds-input" placeholder="Relevant Id" required/>  
                </div>
            </div>

            <br><p>Select the content to show.</p>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="condition1">Condition 1 Logic</label>
                <div class="slds-form-element__control"> 
                    <div class="">
                        <p style="padding-top:10px;">IF Answer Value ==</p>    
                        <div class="slds-form-element__control">
                            <input type="text" id="condition1" name="condition1" class="slds-input" placeholder="Answer Value" required/>  
                        </div>
                        <p style="padding-top:10px;">SHOW</p>    
                        <div class="slds-form-element__control">
                            <input type="text" id="content1" name="content1" class="slds-input" placeholder="Content Block Id" required/>  
                        </div>
                        <p style="padding-top:10px;">Default</p>    
                        <div class="slds-form-element__control">
                            <input type="text" id="defaultContent1" name="defaultContent1" class="slds-input" placeholder="Default Content Block Id" required/>  
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="input-id-01">Data Object:</label>
                <p id="dataObject"></p>
                </br>
            </div>  
            
            <br>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="input-id-01">Ampscript Generated:</label>
                <p id="ampSnippet"></p>
                </br>
            </div>  

        </div>
</div>
</form>
<script type="text/javascript"> 

function getAsset(assetId){
    $.ajax({ 
        type: "GET",
        url: "https://relationship-dynamic-content.herokuapp.com/getAsset?id="+assetId,
        success: function(data){        
            //alert(JSON.stringify(data, null, 2));
            //return data;
            console.log(data.message);
            saveContent('defaultContentHTML', data.message);
        }
    });
}

sdk.getData(function (data) {
    var numberOfEdits = data.numberOfEdits || 0;
    console.log(JSON.stringify(numberOfEdits, null, 2));

    if(numberOfEdits == 0){
        sdk.setData({
            numberOfEdits: numberOfEdits + 1,
            dataArray: {"type": "", "relevantId": "", "ampSnippet": "", "condition1": "", "content1": "", "defaultContent1": "", "condition2": "", "content2": "", "condition3": "", "content3": "", "defaultContentHTML": ""},
            ampSnippet: ""
        });
    }else{
        $('#dataObject').html(JSON.stringify(data.dataArray, null, 2));
        $("#type").val(data.dataArray.type);
        $("#relevantId").val(data.dataArray.relevantId);
        $("#condition1").val(data.dataArray.condition1);
        $("#content1").val(data.dataArray.content1);
        $("#defaultcontent1").val(data.dataArray.defaultContent1);
        $("#ampSnippet").html(JSON.stringify(data.ampSnippet, null, 2));
    }
    console.log(JSON.stringify(data.dataArray, null, 2));
});


function saveContent(name, value) {

    var ampSnippet = "";

    sdk.getData(function (data) {
        
        console.log("Inside SaveText - Data: "+JSON.stringify(data, null, 2));

        function updateObject(keyVal, valVal){
            var numberOfEdits = data.numberOfEdits || 0;
            if(!data.dataArray){
                console.log("Causing trouble!");
            }else{
                data.dataArray[name] = value;
                console.log("Adding new values: "+JSON.stringify(data, null, 2));
            } 

            console.log("Type Value: "+JSON.stringify(data.dataArray.type, null, 2));

            var summaryDEName = 'ent.Survey_Results_Summary__c_Salesforce';
            var avalSubscriptionDEName = 'ent.Available_Subscription__c_Salesforce';
            var interestDEName = 'ent.Interest__c_Salesforce';

            if(data.dataArray.type == 'Summary'){
                ampSnippet = "%%[Set @PreferenceQuestionId = '"+data.dataArray.relevantId+"' Set @InterestId = '' Set @Id = AttributeValue('Id') Set @summary_rows = LookupOrderedRows('"+summaryDEName+"', 1, 'Id Desc', 'WhoId__c', @Id, 'Preference_Question__c', @PreferenceQuestionId) IF RowCount(@summary_rows) == 0 THEN Set @summary_message = 'There is no matching record.' ELSE IF RowCount(@summary_rows) != 0 THEN Set @summary_message = 'Record was found' Set @summary_row = row(@summary_rows,1) Set @QuestionId = FIELD(@summary_row,'Preference_Question__c') Set @AnswerValue = FIELD(@summary_row,'Answer__c') ELSE Set @summary_message = 'There is no matching record.' ENDIF ENDIF]%% %%[IF @AnswerValue == '"+data.dataArray.condition1+"' THEN Outputline(ContentBlockbyId('"+data.dataArray.content1+"')) ELSE Outputline(ContentBlockbyId('"+data.dataArray.defaultContent1+"')) ENDIF]%%";
            }else{
                ampSnippet = "%%[Set @InterestId = '"+data.dataArray.relevantId+"' Set @Id = AttributeValue('Id')  set @rows = LookupOrderedRows('"+interestDEName+"', 1, 'Id Desc', 'WhoId__c', @Id, 'Interest_Selection__c', @InterestId) IF RowCount(@rows) == 0 THEN Set @message = 'There is no matching record.' ELSE IF RowCount(@rows) != 0 THEN Set @message = 'Record was found' set @row = row(@rows,1) set @recordId = FIELD(@row,'Id') // Get Interest Value set @rowsDetail = LookupOrderedRows('"+avalSubscriptionDEName+"', 1, 'Id Desc', 'Id', @recordId) IF RowCount(@rowsDetail) == 0 THEN Set @message = 'There is no matching record.' ELSE IF RowCount(@rowsDetail) != 0 THEN Set @message = 'Record was found' set @rowDetail = row(@rowsDetail,1) set @Text = FIELD(@row,'Display_Text__c') ELSE Set @message = 'There is no matching record.' ENDIF ENDIF ELSE Set @message = 'There is no matching record.' ENDIF ENDIF  ]%% %%[ IF @Text == '"+data.dataArray.condition1+"' THEN Outputline(ContentBlockbyId('"+data.dataArray.content1+"')) ELSE Outputline(ContentBlockbyId('"+data.dataArray.defaultContent1+"')) ENDIF]%%";
            }

            sdk.setData({
                numberOfEdits: numberOfEdits + 1,
                dataArray: data.dataArray,
                ampSnippet: ampSnippet
            });

            $('#dataObject').html(JSON.stringify(data.dataArray, null, 2));
            $("#ampSnippet").html(JSON.stringify(data.ampSnippet, null, 2));

            console.log("Ampscript: "+JSON.stringify(data.ampscript, null, 2));
            console.log("Inside updateObject: "+JSON.stringify(data, null, 2));
        }
        updateObject(name, value);

        
        console.log("After saveText setData: "+JSON.stringify(data.dataArray, null, 2));

        $( "#currentResoonse" ).html(JSON.stringify(data, null, 2));

        var validate = validateForm();
        if(validate != false){
            console.log('Validate: '+validate);
            sdk.getContent(function (content) {
                console.log("Inside SaveContent: "+JSON.stringify(content, null, 2));
                
                //var imageHTML = '<img src="'+imgUrl+'" style="width:150px;display:block;margin: 0 auto;"/>';
                console.log("Ampscript: "+ampSnippet);

                content = ampSnippet;
                sdk.setContent(content, function (setContent) {
                    console.log("setContent: "+JSON.stringify(setContent, null, 2));
                });
                
            });
            var superContent = "<p><b>Dynamic Content Type: Summary</b></p><p>Preview dynamic content by clicking next.</p>";
            console.log("SuperContent HTML: "+JSON.stringify(data.dataArray.defaultContentHTML, null, 2));
            sdk.setSuperContent(data.dataArray.defaultContentHTML, function (setSuperContent){
                console.log("SuperContent: "+JSON.stringify(setSuperContent, null, 2));
            });
        }else{
            console.log('Validate: '+validate);
        }
    });

}

function validateForm() {
  var isValid = true;
  $(':required').each(function() {
    if ( $(this).val() === '' )
        isValid = false;
  });
  return isValid;
}

$('#type, #relevantId, #condition1, #content1, #defaultContent1').change(function(){
    //$('#showImage').html('<img src="'+$(this).val()+'" style="width:150px;"/>');
    saveContent($(this).attr("name"), $(this).val());
});

$('#defaultContent1').change(function(){
    var asset = getAsset($(this).val());
    console.log(JSON.stringify(asset, null, 2));
    //saveContent('defaultContentHTML', asset);
});

</script>
</body>
</html>