<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CB Custom Attributes</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script data-main="js/main.js" src="js/main.js"></script>
    <script data-main="js/blocksdk.js" src="js/blocksdk.js"></script>
    <script type="text/javascript">
        
        console.log( "ready!" );
        var sdk = new SDK();
        console.log("SDK: "+ sdk);            
       
    </script>

    <!--Styles-->
    <style type="text/css">
        body {
            padding: 20px;
            margin: 0;
        }
        .step {
            display: none;
        }
        #step1 {
            display: block;
        }
    </style>

</head>
<body>
    <div id="step1" class="step">
        <div class="slds-form slds-form_compound">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="input-id-01">Current Data:</label>
                    <p id="currentData"></p>
                    </br>
                </div>
        </div>
        <div class="slds-form slds-form_compound">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="input-id-01">Data Extension External Key</label>
                <div class="slds-form-element__control">
                <input type="text" id="deExternalKey" name="deExternalKey" class="slds-input" placeholder="Data Extension External Key" />
                </div>
            </div>
            <br>
            <fieldset class="slds-form-element">
                <legend class="slds-form-element__label slds-form-element__legend slds-text-title_caps">Values</legend>
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                    <div class="slds-form-element slds-size_1-of-2">
                        <label class="slds-form-element__label" for="colName-01">Column Name</label>
                        <input type="text" id="name-01" class="slds-input" />
                    </div>
                    <div class="slds-form-element slds-size_1-of-2">
                        <label class="slds-form-element__label" for="colValue-02">Column Value</label>
                        <input type="text" id="value-01" class="slds-input" />
                    </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="slds-form-element">
                    <div class="slds-form-element__group">
                        <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size_1-of-2">
                            <label class="slds-form-element__label" for="colName-01">Column Name</label>
                            <input type="text" id="name-02" class="slds-input" />
                        </div>
                        <div class="slds-form-element slds-size_1-of-2">
                            <label class="slds-form-element__label" for="colValue-02">Column Value</label>
                            <input type="text" id="value-02" class="slds-input" />
                        </div>
                        </div>
                    </div>
                </fieldset>
            </div>

</div>
<script type="text/javascript">
//sdk.setSuperContent('Placeholder for simple ampscript section.');

var content = 'testtestetsetset';

var dataDE = {de: "Test"};
//var dataArray = {"Name1": "Test 1 Name", "Value1": "Test 1 Value", "Name2": "Test 2 Name", "Value2": "Test 2 Value"};
//var dataArray = {"deExternalKey": "MC_CB_Custom_Attributes","keys": {"Id": "1"},"values": {"Name1": "TestNam1","Value1": "TestVal1"}};

sdk.getData(function (data) {
    if(typeof dataArray === 'undefined'){
        var dataArray = {"deExternalKey": "MC_CB_Custom_Attributes","keys": {"Id": "1"},"values": {"Name1": "TestNam1","Value1": "TestVal1"}};
        console.log("Initial Load: Set data array");
    }
    
    console.log("Current Data 1: "+JSON.stringify(data, null, 2));
    console.log("DataArray 1: "+JSON.stringify(dataArray, null, 2));
    // set value from get
    if(typeof data === 'undefined'){
        $( "#deExternalKey" ).val(data);

        // data set 1
        //$( "#name-01" ).val(data.dataArray.values.Name1);
        //$( "#value-01" ).val(data.dataArray.values.Value1);

        // data set 2
        //$( "#name-02" ).val(data.dataArray.values.Name2);
        //$( "#value-02" ).val(data.dataArray.values.Value2);

        //$( "#currentData" ).html(JSON.stringify(data, null, 2));
    }else{
        $( "#currentData" ).html(JSON.stringify(dataArray, null, 2));
    }

    var numberOfEdits = data.numberOfEdits || 0;
    var dataDE = {de: "Test"};
    //var dataArray = {"Name1": data.dataArray.Name1, "Value1": data.dataArray.Value1, "Name2": "Test 2 Name", "Value2": "Test 2 Value"};
    //var dataArray = {"deExternalKey": "MC_CB_Custom_Attributes","keys": {"Id": "1"},"values": {"Name1": data.dataArray.values.Name1,"Value1": data.dataArray.values.Value1}};

    sdk.setData({
        numberOfEdits: numberOfEdits + 1,
        dataDE: dataDE,
        dataArray: dataArray
    });
    console.log("Current Data 2: "+JSON.stringify(data, null, 2));
    console.log("DataArray 2: "+JSON.stringify(dataArray, null, 2));
});

sdk.getContent(function (content) {
    // set value from get
    $( "#deExternalKey" ).val(content);
    content += '.';
    sdk.setContent(content, function (setContent) {
        console.log("Shane Content" + content);
    });
});

function saveText(keyVal, valVal) {
    var html = $( "#deExternalKey" ).val();
    sdk.setContent(html);
    sdk.setSuperContent('This is super content: ' + html);

    sdk.getData(function (data) {
        //$( "#currentData" ).html(JSON.stringify(data, null, 2));

        console.log("Inside SaveText - Data: "+JSON.stringify(data, null, 2));
        var numberOfEdits = data.numberOfEdits || 0;
        var dataDE = {de: "Test"};
        //var dataArray = {dataName1: "Test 1 Name", datavalue1: "Test 1 Value", dataName2: "Test 2 Name", datavalue2: "Test 2 Value"};
        //var dataArray = {"deExternalKey": "MC_CB_Custom_Attributes","keys": {"Id": "1"},"values": {"Name1": data.dataArray.values.Name1,"Value1": data.dataArray.values.Value1}};
        
        //data.dataArray.values.Name1 = 'test'; 

        function updateObject(key, value){
            data.dataArray.values[key] = value;
            console.log("Inside updateObject: "+JSON.stringify(data.dataArray, null, 2));
        }
        updateObject(keyVal, valVal);
        console.log("New Pair: "+keyVal+" - "+valVal);
        //console.log("DataArray: "+JSON.stringify(dataArray, null, 2));

        var value = data.value || 0;
        sdk.setData({
            numberOfEdits: numberOfEdits + 1,
            dataDE: dataDE,
            dataArray: data.dataArray
        });
        console.log("After saveText setData: "+JSON.stringify(data.dataArray.values, null, 2));
        /*$.ajax({
            url: "https://shane-cb.herokuapp.com/save",
            type: 'POST',
            cache: false,
            data: data.dataArray,
            beforeSend: function() {},
            timeout: 10000,
            error: function() {},
            success: function(data) {
                console.log(data);
            }
        });*/

        $( "#currentData" ).html(JSON.stringify(data, null, 2));
    });

    sdk.getCentralData(function (central) {
        var totalNumberOfEdits = central.totalNumberOfEdits || 0;
        sdk.setCentralData({
            totalNumberOfEdits: totalNumberOfEdits + 1
        });
    });
}
    
$( "#deExternalKey" ).keyup(function() {
    var keyVal = {};
    keyVal["deExternalKey"] = $( "#deExternalKey" ).val();
    saveText("deExternalKey", $( "#deExternalKey" ).val());
    console.log($( "#deExternalKey" ).val());
});
$( "#name-01" ).keyup(function() {
    var keyVal = {};
    keyVal["Name1"] = $( "#name-01" ).val();
    saveText("Name1", $( "#name-01" ).val());
    console.log($( "#name-01" ).val());
});
</script>
</body>
</html>