<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CB Custom Attributes</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script data-main="js/main.js" src="js/main.js"></script>
    <script data-main="js/blocksdk.js" src="js/blocksdk.js"></script>
    <script type="text/javascript">
        
        var sdk = new SDK();          
       
    </script>

    <!--Styles-->
    <style type="text/css">
        body {
            padding: 20px;
            margin: 0;
        }
        .step {
            display: none;
        }
        #step1 {
            display: block;
        }
    </style>

</head>
<body>
    <div id="step1" class="step">
        <div class="slds-form slds-form_compound">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="input-id-01">Current Data:</label>
                    <p id="currentData"></p>
                    </br>
                </div>
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="input-id-01">Response:</label>
                    <p id="soapResponse"></p>
                    </br>
                </div>
        </div>
        <div class="slds-form slds-form_compound">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="input-id-01">Data Extension External Key</label>
                <div class="slds-form-element__control">
                <input type="text" id="deExternalKey" name="deExternalKey" class="slds-input" placeholder="Data Extension External Key" />
                </div>
            </div>
            <br>
            <fieldset class="slds-form-element">
                <legend class="slds-form-element__label slds-form-element__legend slds-text-title_caps">Values</legend>
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                    <div class="slds-form-element slds-size_1-of-2">
                        <label class="slds-form-element__label" for="colName-01">Column Name</label>
                        <input type="text" id="name1" class="slds-input" />
                    </div>
                    <div class="slds-form-element slds-size_1-of-2">
                        <label class="slds-form-element__label" for="colValue-02">Column Value</label>
                        <input type="text" id="value1" class="slds-input" />
                    </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="slds-form-element">
                    <div class="slds-form-element__group">
                        <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size_1-of-2">
                            <label class="slds-form-element__label" for="colName-01">Column Name</label>
                            <input type="text" id="name2" class="slds-input" />
                        </div>
                        <div class="slds-form-element slds-size_1-of-2">
                            <label class="slds-form-element__label" for="colValue-02">Column Value</label>
                            <input type="text" id="value2" class="slds-input" />
                        </div>
                        </div>
                    </div>
                </fieldset>
            </div>

</div>
<script type="text/javascript">

/*$(document).ready(function () {
    var wsUrl = "https://webservice.s7.exacttarget.com/Service.asmx";

    var soapRequest =
    '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Header><wsse:Security soapenv:mustUnderstand="1" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken wsu:Id="UsernameToken-24440876" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>shane.smyth.dev</wsse:Username><wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">cM375!352</wsse:Password></wsse:UsernameToken></wsse:Security></soapenv:Header><soapenv:Body><RetrieveRequestMsg xmlns="http://exacttarget.com/wsdl/partnerAPI"><RetrieveRequest><ObjectType>DataExtensionObject[MC_CB_Custom_Attributes]</ObjectType><Properties>Id</Properties><Properties>Name1</Properties><Properties>Value1</Properties><Properties>Name2</Properties><Properties>Value2</Properties><Properties>EmailId</Properties><Filter xsi:type="SimpleFilterPart"><Property>EmailId</Property><SimpleOperator>equals</SimpleOperator><Value>1</Value></Filter></RetrieveRequest></RetrieveRequestMsg></soapenv:Body></soapenv:Envelope>';

    $.ajax({
        type: "POST",
        url: wsUrl,
        contentType: "text/xml",
        dataType: "xml",
        data: soapRequest,
        success: processSuccess,
        error: processError
    });

    function processSuccess(data, status, req) {
        //if (status == "success")
            $("#soapResponse").text($(req));
    }

    function processError(data, status, req) {
        alert(req.responseText + " " + status);
    } 

    // on page load - retrieve DE values
    // iterate through values and update fields

// on keyup
    // post information back to DE

});*/

/**********NEW*********/
/*sdk.getContent(function (content) {
    sdk.setContent(content);
    function saveContent(html){
        sdk.setContent(html);
		//sdk.setSuperContent('This is super content: ' + html);
    }
});*/
sdk.getData(function (data) {
    var numberOfEdits = data.numberOfEdits || 0;
    console.log(JSON.stringify(numberOfEdits, null, 2));

    if(numberOfEdits == 0){
        sdk.setData({
            numberOfEdits: numberOfEdits + 1,
            dataArray: {"deExternalKey": "Initial","keys": {"Id": "1"},"values": {"name1": "","value1": "","name2": "", "value2": ""}}
        });
    }else{
        console.log('DataArray exists, populate fields.');
        $( "#currentData" ).html(JSON.stringify(data, null, 2));

        $( "#name1" ).val(JSON.stringify(data.dataArray.values.name1, null, 2));
        $( "#value1" ).val(JSON.stringify(data.dataArray.values.value1, null, 2));

        $( "#name2" ).val(JSON.stringify(data.dataArray.values.name2, null, 2));
        $( "#value2" ).val(JSON.stringify(data.dataArray.values.value2, null, 2));
    }
    console.log(JSON.stringify(data.dataArray, null, 2));
});

/*sdk.getCentralData(function (data) {
    if(!data.dataArray && numberOfEdits == 0){
        sdk.setCentralData({
            dataArray: {"deExternalKey": "Initial Central","keys": {"Id": "1"},"values": {"name1": "","value1": "","name2": "", "value2": ""}}
        });
    }else{
        sdk.setCentralData({
            dataArray: {"deExternalKey": "Update Central","keys": {"Id": "1"},"values": {"name1": "","value1": "","name2": "", "value2": ""}}
        });
    }
    console.log(JSON.stringify(data.dataArray, null, 2));
});*/

function saveData(keyVal, valVal) {
    var html = $( "#deExternalKey" ).val();
    //sdk.setContent(html);
    //sdk.setSuperContent('This is super content: ' + html);

    sdk.getData(function (data) {
        //$( "#currentData" ).html(JSON.stringify(data, null, 2));

        console.log("Inside SaveText - Data: "+JSON.stringify(data, null, 2));

        function updateObject(keyVal, valVal){
            var numberOfEdits = data.numberOfEdits || 0;
            if(!data.dataArray){
                //var dataArray = {"deExternalKey": "Function","keys": {"Id": "1"},"values": {"name1": valVal,"value1": "","name2": "", "value2": ""}}
                console.log("Causing trouble!");
            }else{
                data.dataArray.values[keyVal] = valVal;
                console.log("Adding new values: "+JSON.stringify(data, null, 2));
            }

            sdk.setData({
                numberOfEdits: numberOfEdits + 1,
                dataArray: data.dataArray
            });
            console.log("Inside updateObject: "+JSON.stringify(data, null, 2));
        }
        updateObject(keyVal, valVal);
        console.log("New Pair: "+keyVal+" - "+valVal);
        //console.log("DataArray: "+JSON.stringify(dataArray, null, 2));

        
        console.log("After saveText setData: "+JSON.stringify(data.dataArray, null, 2));
        /*$.ajax({
            url: "https://shane-cb.herokuapp.com/save",
            type: 'POST',
            cache: false,
            data: data.dataArray,
            beforeSend: function() {},
            timeout: 10000,
            error: function() {},
            success: function(data) {
                console.log(data);
            }
        });*/

        $( "#currentData" ).html(JSON.stringify(data, null, 2));
    });

}
    
$( "#deExternalKey" ).focusout(function() {
    //saveData($( "#deExternalKey" ).val());
});

// keyup call for key/value pair 1
$( "#name1" ).focusout(function() {
    var keyVal = {};
    keyVal["name1"] = $( "#name1" ).val();
    saveData("name1", $( "#name1" ).val());
});
$( "#value1" ).focusout(function() {
    var keyVal = {};
    keyVal["value1"] = $( "#value1" ).val();
    saveData("value1", $( "#value1" ).val());
});

// keyup call for key/value pair 2
$( "#name2" ).focusout(function() {
    var keyVal = {};
    keyVal["name2"] = $( "#name2" ).val();
    saveData("name2", $( "#name2" ).val());
});
$( "#value2" ).focusout(function() {
    var keyVal = {};
    keyVal["value2"] = $( "#value2" ).val();
    saveData("value2", $( "#value2" ).val());
});

</script>
</body>
</html>