<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CB Custom Attributes</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script data-main="js/main.js" src="js/require.js"></script>
    <script type="text/javascript">
        (function() {
            var config = {
                baseUrl: 'js'
            };

            var dependencies = [
                'customActivity'
            ];

            require(config, dependencies);
        })();
    </script>

    <!--Styles-->
    <style type="text/css">
        body {
            padding: 20px;
            margin: 0;
        }
        .step {
            display: none;
        }
        #step1 {
            display: block;
        }
    </style>

</head>
<body>
<div id="step1" class="step">
        <p>test</p>
</div>

</body>
</html>